<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Quiz App</title>
</head>
<body>
    <div id="quiz">
        <quiz v-bind:title="title"></quiz>
    </div>
        <div id="question">
            <question v-bind:question="question"></question>
        </div>
        <div id="answersX">

           <ul id="answers"> 
           <answers v-for="answer in answersData" v-bind:key="answer.Id" v-bind:answer-list="answersData" v-bind:next-answer="answer.answer"></answers>
           </ul>
      <!--    <div>Answers: <ul><li v-for="answer in answers">{{ answer.answer }}</li></ul></div> -->
     <!--  <div>Answers: <ul><li v-for="answer in answers"  v-text="answer.answer"></li></ul></div> -->
        </div>
    

       <!-- development version, includes helpful console warnings -->
       <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <script src="quiz.js"></script>
</body>
</html>